html, body {
  font-family: Helvetica Neue,Hiragino Sans GB,Helvetica,Microsoft YaHei,Arial;
}
  
html {
    zoom: 0.8;
}

*, :after, :before {
    /* -webkit-tap-highlight-color: rgba(0,0,0,0); */
}

html {
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    padding: 0;
    /*font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;*/
    background: #111;
    text-align: left;
    /* -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none; */
    user-select: inherit !important;
    /*font-size: .32rem;*/
    
    background-image: url(/static/images/body_bg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

a {
  color: #F2C777;
}


button, input {
    font-size: 15px;
    font-family: Arial;
    border: 1px solid #ccc;
    border-right: 0;
    padding: 5px;
    background: #fff;
    margin: 0;
    color: #444;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
}

input:focus {
    outline: none;
}

.button, button {
    cursor: pointer;
    background-color: #ddd;
    border: 1px solid #ccc;
}

form {
    display: inline-block;
}

#root, .App, .Page, .ant-layout {
    height: 100%;
}

.ant-layout-header {
    width: 100%;
    background: transparent; /*url(/static/images/head_bg_trans.png) */
}

.ant-menu-dark.ant-menu-horizontal {
    line-height: 63px;
    background: transparent !important;
    border: 0;
}

.ant-layout-sider,
.ant-menu {
    background: transparent;
    color: #fff;
}

.ant-menu-root.ant-menu-vertical, .ant-menu-root.ant-menu-inline {
    background: transparent;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(0, 0, 0, 0.3);
}

.ant-menu-dark .ant-menu-inline.ant-menu-sub {
    background-color: rgba(0, 0, 0, 0.3);
}

.ant-layout {
    background: transparent;
}

.ant-layout-content {
    background: rgba(0, 0, 0, 0.5) !important;
    color: #fff;
}

.ant-menu.ant-menu-dark .ant-menu-item-selected {
    background-color: rgba(255, 255, 255, 0.1);
}

.ant-tabs-nav .ant-tabs-tab-active {
    color: #dacd08;
}

.ant-table {
    color: #fff;
}

.ant-table-thead > tr > th {
    background: #111;
    color: #fff;
}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 8px 8px;
}
  
tr.ant-table-expanded-row, tr.ant-table-expanded-row:hover,
.ant-table-thead > tr.ant-table-row-hover > td, .ant-table-tbody > tr.ant-table-row-hover > td, .ant-table-thead > tr:hover > td, .ant-table-tbody > tr:hover > td {
    background: #111;
    color: #fff;
}

.ant-breadcrumb,
.ant-breadcrumb > span:last-child,
.ant-breadcrumb a {
    color: rgba(255, 255, 255, 0.6);
}

.ant-breadcrumb-separator {
    color: rgba(255, 255, 255, 0.3);
}

.ant-table-thead > tr > th.ant-table-column-sort {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    font-weight: bold;
}


.ant-collapse>.ant-collapse-item>.ant-collapse-header {
    -webkit-transition: none !important;
    transition: none !important
}

.ant-collapse-borderless {
    background: transparent;
}

h1, h2, h3, h4, h5, h6 {
    color: rgba(255, 255, 255, 0.85);
}

.marker-bars {
    display: inline-block;
    width: 100px;
    text-align: center;
}

.marker-total {
    display: inline-block;
    width: 30px;
    font-weight: bold;
    padding: 2px;
}

.marker-up {
    display: inline-block;
    color: rgba(0, 128, 0, 0.5);
    font-weight: bold;
    background: white;
    padding: 2px;
    height: 20px;
}

.marker-down {
    display: inline-block;
    color: rgba(255, 0, 0, 0.5);
    font-weight: bold;
    background: white;
    padding: 2px;
    height: 20px;
}

.marker-bar.up {
    display: inline-block;
    height: 20px;
    background: green;
}

.marker-bar.down {
    display: inline-block;
    height: 20px;
    background: red;
}

.trends table {
    font-size: 0.7em;
}


.Resizer {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background: #000;
    opacity: .2;
    z-index: 1;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
}

.Resizer:hover {
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
}

.Resizer.horizontal {
    height: 11px;
    margin: -5px 0;
    border-top: 5px solid rgba(255, 255, 255, 0);
    border-bottom: 5px solid rgba(255, 255, 255, 0);
    cursor: row-resize;
    width: 100%;
}

.Resizer.horizontal:hover {
    border-top: 5px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid rgba(0, 0, 0, 0.5);
}

.Resizer.vertical {
    width: 11px;
    margin: 0 -5px;
    border-left: 5px solid rgba(255, 255, 255, 0);
    border-right: 5px solid rgba(255, 255, 255, 0);
    cursor: col-resize;
}

.Resizer.vertical:hover {
    border-left: 5px solid rgba(0, 0, 0, 0.5);
    border-right: 5px solid rgba(0, 0, 0, 0.5);
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.App {
  /* Disable text selection, or your app will feel like a web page */
  -webkit-user-select: none;
  -webkit-app-region: drag;

  /* Cover the whole window */
  height: 100%;

  /* Make sure this matches the native window background color that you pass to
   * electron.BrowserWindow({...}), otherwise your app startup will look janky. */
  /*background: rgb(0, 0, 0);*/
  
  /* Smoother startup */
  animation: fadein 1.5s;
}

.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}